{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Login{% endblock %} 

{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center shadow-lg">
			<div class="col-lg-6 bg-dark m-4  p-2 shadow-lg-light rounded">
				<div class="col-10 mx-auto text-warning font-weight-bold">
					
				
					<h1 class="font-weight-bold text-center">Login</h1>
					<hr style="background-color: orange ;">

							<form method="POST">
								{% csrf_token %} {{form | crispy}}
								<input type="submit" class="btn btn-outline-warning btn-lg btn-block pb-2" value="Login" /> <br>
							</form>
						</div>
					</div>
			</div>
			</div>
		</div>

{% endblock %}

